# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
env/

# Django
*.sqlite3
/staticfiles/
media/
db.sqlite3

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# VSCode settings
.vscode/